<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Read my book</title>
</head>
<body>
    <h1>Read my Book</h1>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="file">Select file:</label>
        <input type="file" name="file" id="file">
        <button type="submit">Upload and Process</button>
    </form>
    <audio controls>
  <source src="{{ output }}" type="audio/wav">
  Your browser does not support the audio element.
</audio>
{{ text }}
</body>
</html>
